@tailwind base;

@tailwind components;

@import 'components/header';
@import 'components/nav';

.content {
    p {
        @apply .mt-6;
        &:first-child {
            @apply .mt-0;
        }
    }
}

.page-title {
    + .content {
        @apply .mt-8;
    }
}

@tailwind utilities;