.nav {
    .menu-item {
        @apply .inline-block .ml-20;
        &:first-child {
            @apply .ml-0;
        }
        a {
            @apply .leading-none;
            &:hover {
                @apply .text-blue-800 .underline;
            }
        }
    }
}