<template>
    <div>
        <div>Example Component</div>
        <div><slot>I'm an example component.</slot></div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
